span {
  font-weight: 700;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #EBD9DD;
  color: rgba(0, 0, 0, 0.67);
}

.first {
  background-image: url('../../../public/landing.jpg');
  background-position: top;
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
}

.welcome {
  font-size: 30px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statement {
  text-align: center;
  background-color: rgba(222, 182, 171, 0.445); 
  width: 100%;
  padding: 20px 0px;
  font-weight: 700;
}

.favlogo > img {
  margin: 0px;
  border-radius: 0%;
  width: 120px;
  height: 120px;
}

.favlogo {
  padding: 30px 0px 10px 0px;
}

.introduction{
  font-size: 15px;
}

.second {
  display: flex;
  padding: 40px;
}

.second > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutTitle > h2 {
  margin: 10px;
}

.text {
  font-size: 16px;
  line-height: 28px;
  margin: 20px 0;
  width: 100%;
  text-align: justify;
  text-align-last: center;
}

#cursive {
  margin: 0px;
  height: 60%;
  width: 100%;
  border-radius: 0%;
}

#note {
  height: 250px;
  width: 250px;
  border-radius: 0%;
  margin: 20px 0;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #ebd9dd;
  color: #AC7088;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90%;
}

@media only screen and (min-width: 540px) {
  .statement {
    font-size: 40px;
  }

  #cursive {
    height: 50%;
  }

  .favlogo > img {
    width: 150px;
    height: 150px;
  }

  .introduction{
    font-size: 20px;
  }
}

@media only screen and (min-width: 912px) {
  .statement {
    font-size: 50px;
  }

  #cursive {
    height: 40%;
  }

  .favlogo > img {
    width: 160px;
    height: 160px;
  }

  .introduction{
    font-size: 25px;
  }

  .aboutTitle {
    height: 100px;
    margin: 20px 0;
  }

  #cursive {
    height: 80%;
  }

  .second {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .statement {
    font-size: 60px;
    padding: 20px 0;
  }

  .welcome {
    height: 70%
  }

  .favlogo {
    padding: 40px 0px 10px 0px
  }

  .favlogo > img {
    width: 160px;
    height: 160px;
  }

  .second {
    width: 70%; 
  }
} 

@media only screen and (min-width: 1200px) {
  .statement {
    font-size: 60px;
    padding: 10px 0;
  }

  .welcome {
    height: 65%
  }

  .favlogo {
    padding: 50px 0px 10px 0px
  }

  .favlogo > img {
    width: 160px;
    height: 160px;
  }
} 