span {
  font-weight: 600;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  background-color: #EBD9DD;
  /* font-family: 'EB Garamond', serif; */
}

.first {
  background-image: url('../../../public/landing.jpg');
  background-position: top;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position-x: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: flex-end;
}

.welcome {
  font-size: 30px;
  /* background-color: rgb(222,182,171, 0.70); */
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statement {
  text-align: center;
  background-color: rgba(222, 182, 171, 0.445); 
  width: 100%;
  padding: 20px 0px;
  color: rgba(0, 0, 0, 0.67);
}

.favlogo > img {
  /* border: 1px solid red; */
  margin: 0px;
  border-radius: 0%;
  width: 120px;
  height: 120px;
}

.favlogo {
  padding: 30px 0px 10px 0px;
}

.introduction{
  color: rgba(0, 0, 0, 0.67);
}


/* .first img {
  position: absolute;
  display: block;
  margin-top: -5px;
  border-radius: 0;
  width: 100%;
  height: 100%;
} */

/* .container {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px black solid;
  width: 100vw;
  z-index: 2;
  margin-top: 50vh;
  height:40vh;
  max-height: 500px;
} */

/* .welcomeStatement{
  height: 40%;
  width: 100%;
  border: 2px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  margin:10px 5px 20px 5px;
}  */

/* .page img{
  position: absolute;
  display: block;
  margin-top: -5px;
  border-radius: 0;
  width: 100%;
  height: 100%;
} */


@media (max-width: 990px) {
  .container {
    margin-top: 35vh;
  }
}

@media (max-width: 600px) {
  .container {
    height: 20vh;
  }

  .welcomeStatement{
    font-size: 20px;
  }

  .introduction {
    height: 20%;
    font-size: 14px;
  }
}