.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2% 3%;
  width: 100%;
  margin: 5%;
  background-color: #F5E8C7;
  border-radius: 20px;
  padding: 20px;
}

.container *{
  width: 100%;
  /* margin: 5px 0; */
  padding: 0;
}

.container .img{
  height: auto;
  width:50vw;
  border-radius: 10px;
}

.container button{
  background-color: #DEB6AB;
  border-radius: 5px;
  padding: 5px;
  width:60px;
  border: none;
  font-size: 15px;
}

.purchased{
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchased *{
  margin:0;
  width: auto;
}
