.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2% 3%;
  max-width: 300px;
  margin: 5%;
  background-color: #AC7088;;
  padding: 20px;
  
}

.container .img{
  height: auto;
  width:100%;
  border-radius: 10px;
}

.container button{
  background-color: #DEB6AB;
  border-radius: 5px;
  padding: 5px;
  width:60px;
  border: none;
  font-size: 15px;
}

.purchased{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.purchased input,
.purchased label{
  width: auto;
  margin: 5px;
}

.bottomBtns {
  display: flex;
  width: 100%;
  justify-content: space-around;
  
}

.bottomBtns button{
  color: white;
  border: 1px solid white;
}

.bottomBtns button:hover{ 
  cursor: pointer;
  background-color: #eadde0;
  color: #AC7088;
}

.bottomBtns a {
  text-decoration: none;
  color: white;
}

.bottomBtns a:hover {
  color: #AC7088;
}