.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1% 3%;
  max-width: 300px;
  min-height: 600px;
  margin: 5%;
  background-color: #EBD9DD;
  padding: 20px;
  
}

.container .img{
  min-height: 250px;
  width:100%;
  border-radius: 10px;
}

.purchased{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.purchasedInput{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AC7088;
  height: 31px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: bold;
}

.purchasedInput:hover {
  cursor: pointer;
  background-color: white;
  color: #AC7088;
  border: 1px solid #AC7088;
}

.purchased button a{
  color: white;
}

.purchased button:hover {
  cursor: pointer;
  background-color: white;
  color: #AC7088;
}

.purchased button a:hover {
  color: #AC7088;
}

.bottomBtns {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bottomBtns button{
  color: white;
}

.bottomBtns button:hover{ 
  cursor: pointer;
  background-color: white;
  color: #AC7088;
}

.bottomBtns a{
  text-decoration: none;
  color: white;
}

.bottomBtns a:hover {
  color: #AC7088;
}

.Btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: white;
}

