.profileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.cover {
  margin-top: 0;
  border-radius: 0;
  height: 200px;
  width: 100vw;
  z-index: 1;
}

.image {
  width: 100px;
  height: 100px;
  margin-top: -55px;
}

.profileName {
  text-transform: capitalize;
}

.wishlistContainer{
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 2% 3%;
  margin: 2%;
  
}

.wishlistBox {
  background-color: #AC7088;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 200px;
  color: white;
}

.title{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 5px;
}

.viewButton {
  font-size: 15px;
  padding: 8px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.viewButton:hover {
  background-color: #eadde0;
  color: #AC7088;
  cursor: pointer;
}

@media (min-width: 600px) {
  .cover{
    height: 250px;
    z-index: 0;
  }

  .image {
    width: 150px;
    height: 150px;
    margin-top: -75px;
  }

  .wishlistContainer {
    flex-direction: row;
    gap: 30px;
  }

  .viewButton {
    height: 40px;
  }

}

@media (min-width: 1024px) {
  .cover{
    height: 275px;
  }
}