.profileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.cover {
  margin-top: 0;
  border-radius: 0;
  height: 200px;
  width: 100vw;
}

.image {
  width: 100px;
  height: 100px;
  margin-top: -55px;
}

.profileName {
  text-transform: capitalize;
}

.wishlistContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.wishlistBox {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 200px;
}

@media (min-width: 600px) {
  .cover{
    height: 250px;
  }

  .image {
    width: 150px;
    height: 150px;
    margin-top: -75px;
  }
}

@media (min-width: 1024px) {
  .cover{
    height: 275px;
  }
}