.container {
  display: flex;
  align-items: center;
}

.btn {
  width: 120px;
  height: 30px;
  margin: 10px auto;
  border: 1px solid #AC7088;
  border-radius: 5px;
  background-color: #AC7088;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: #eadde0;
  color: #AC7088;
}

.btn>a {
  text-decoration: none;
  color: white;
  font-size: 13.5px;
  font-weight: bold;
}

a:hover {
  color: #AC7088;
}