.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0,0,0,0.25);
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.container label {
  /* width:80%; */
  width: 100%;
  padding: 14px 0;
}

.container input,
.container textarea,
.container select {
  width: 100%;
  padding: 14px 0;
  font-size: 14px;
  resize: vertical;
  margin: 7px 0px 14px 0px;
  border: none;
  border-bottom: 1px solid #AC7088;
  font-family: canada-type-gibson, sans-serif;
}

.container textarea {
  min-height: 50px;
}

.container label {
  font-weight: 600;
  /* margin: 7px 0px 14px 0px; */
}

.container input:focus,
.container select:focus,
.container textarea:focus {
  border: 1px solid var(--primary);
}

.container button{
  width: 100px;
  height: 30px;
  margin: 10px 10px;
  border: 1px solid #AC7088;
  border-radius: 5px;
  background-color: #AC7088;
  cursor: pointer;
  color: white;
}

.signupH1 {
  margin-top: 25px;
}

@media (min-width: 600px) {
  .container {
    width: 400px;
  }
}
