.wishlistContainer{
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 2% 3%;
  margin: 2%;
  
}

.wishlistBox {
  margin-top: 30px;
  background-color: #AC7088;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 260px;
  height: 260px;
  color: white;
  box-shadow: -2px 10px 10px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 10px 10px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: -2px 10px 10px 5px rgba(0,0,0,0.25);
}

.title{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 5px;
}

.viewButton {
  font-size: 15px;
  padding: 8px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  width: 200px;
}

.viewButton:hover {
  background-color: #eadde0;
  color: #AC7088;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
}

.buttonContainer button {
  margin: 0 10px;
  width: 100px;
}
