@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');

button {
  color: black;
  border: 2px solid black;
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--primary);
}